$box-size: 100px;
$fSize: 30px;
$_indent: 1px;
$days: ("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat":5, "sun":6);

* {
  box-sizing: border-box;

}

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: ($box-size + $_indent) * 7;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $box-size;
    height: $box-size;
    border: 1px solid #000;
    background-color: #eee;
    margin-right: $_indent;
    margin-bottom: $_indent;
    font-size: $fSize;
    &:hover {
      background-color: pink;
      transform: translateY(-20px);
      transition: 0.5s ease;
    }
  }
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}

@each $day, $order in $days {
  .calendar-#{$day} > div:first-child {
    margin-left: $order * ($box-size + $_indent);
  }
}

@for $i from 28 through 30 {
  .calendar-#{$i} > div:nth-child(n+#{$i+1}) {
    display: none;
  }
}
